# icegridadmin 配置。
# Locator 必须与 registry.cfg 和 CloudNetDataApi\IceRPCPush.xml 保持一致。

Ice.Default.Locator=MtIceGrid/Locator:default -h 127.0.0.1 -p 18000
IceGridAdmin.Username=admin
IceGridAdmin.Password=mtadmin
Ice.ProgramName=MtIceGridAdmin
